<nav>
    <button id="logoutButton" style="display: none;" onclick="logout()">Выйти</button>
    <a id="loginButton" href="/login">Войти</a>
    <a id="registerButton" href="/register">Регистрация</a>
    <a id="createBlog" href="/createBlog">Добавить блог</a>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        updateAuthUI();
    });

    function updateAuthUI() {
        const isAuthenticated = localStorage.getItem('isAuthenticated');
        const deleteButtons = document.querySelectorAll('.delete-button');
        const editButtons = document.querySelectorAll('.edit-button');

        if (isAuthenticated) {
            document.getElementById('logoutButton').style.display = 'block';
            document.getElementById('createBlog').style.display = 'block';
            document.getElementById('loginButton').style.display = 'none';
            document.getElementById('registerButton').style.display = 'none';
            deleteButtons.forEach(button => button.style.display = 'inline-block');
            editButtons.forEach(button => button.style.display = 'inline-block');
        } else {
            document.getElementById('logoutButton').style.display = 'none';
            document.getElementById('createBlog').style.display = 'none';
            document.getElementById('loginButton').style.display = 'block';
            document.getElementById('registerButton').style.display = 'block';
            deleteButtons.forEach(button => button.style.display = 'none');
            editButtons.forEach(button => button.style.display = 'none');
        }
    }

    function logout() {
        localStorage.removeItem('isAuthenticated');
        updateAuthUI();
        window.location.href = '/login';
    }

</script>

